/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* General body styling */
body {
    background-color: #f4f4f9; /* Light gray background */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
    font-size: 16px;
}

/* Title section */
header {
    text-align: center;
    margin-bottom: 40px;
}

.title {
    font-size: 3rem;
    font-weight: 500;
    color: black; /* Deep purple */
    font-family: 'Brush Script MT', cursive;
}

/* Outer container */
.outer-container {
    display: block;
    width: auto;
    height: auto;
    padding: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Middle container */
.middle-container {
    background-color: #380412; /* Wine color */
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 80px; /* Add padding to the left */
    padding-right: 50px; /* Add padding to the right */
    border-radius: 15px;
    flex-direction: column; /* Stack children vertically */
    justify-content: center;
    align-items: center;
    min-width: 1000px;  /* Max width of the form */
    width: 100%;       /* Make the form width responsive */
    margin-left: 1000px;  /* Center the form horizontally */
}


/* Inner container */
.inner-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    width: 350px;
    margin-left: 250px;;

}

/* Heading */
h2 {
    font-size: 2rem;
    font-weight: 500;
    color: #0c0a0d;
    margin-bottom: 20px;
    text-align: center;
}

/* Form styling */
label {
    display: block;
    font-size: 1rem;
    color: #4b0082;
    margin: 12px 0 6px;
}

/* Input fields */
input {
    width: 100%;
    padding: 15px;
    margin-bottom: 15px;
    border: 2px solid #d1d1d1;
    border-radius: 8px;
    background-color: #f9f9f9;
    font-size: 1rem;
    transition: border-color 0.3s ease;
}

input:focus {
    border-color: #090809;
    outline: none;
}

/* Button */
button {
    width: 100%;
    padding: 12px;
    background-color: #380412;
    color: white;
    font-size: 1rem;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #680b24; /* Lighter purple on hover */
}

/* Link styling */
p {
    text-align: center;
    margin-top: 20px;
}

a {
    color: #4b0082;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/*

@media (max-width: 768px) {
    .middle-container {
        max-width: 90%; 
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (max-width: 480px) {
    .middle-container {
        max-width: 90%;
    }
}
*/